@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_principal: #F3FCE7;
    --cor_fonte: #292828;
    --verde: #29490A;
    --verde-escuro: rgb(0, 30, 0);
    --sombra-leve: 0 4px 20px rgba(0, 0, 0, 0.2);
    --transicao-padrao: all 0.3s ease-in-out;
}

html {
    font-family: "Roboto", sans-serif;
    color: var(--cor_fonte);
    font-size: 10px;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* CABEÇALHO */
.main-header {
    background-color: var(--verde);
    padding: 15px 0;
    box-shadow: var(--sombra-leve);
    position: static;
    top: 0;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-list li a {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: var(--transicao-padrao);
}

.nav-list li a:hover,
.nav-list li a.active {
    color: #1ABC9C;
}

.logo-img {
    max-width: 120px;
    transition: transform 0.3s ease;
}

.logo-img:hover {
    transform: scale(1.05);
}

.container .menu-toggle {
    display: none;
    font-size: 2.4rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* INÍCIO DO FORMULÁRIO */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    letter-spacing: 2px;
    background-color: var(--cor_principal);
}

.contact-container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.illustration {
    flex: 1;
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.illustration h2 {
    font-size: 28px;
    color: #eef9e6;
}

.illustration p {
    font-size: 20px;
    color: #eef9e6;
    margin: 15px;
    text-align: center;
    padding: 0 10px;
}

.illustration img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.illustration .contatos h3 {
    font-size: 18px;
    color: #F3FCE7;
    text-align: center;
    margin-bottom: 24px;
}

.illustration .contatos .icones {
    display: flex;
    text-align: center;
    align-items: center;
}

.illustration .contatos .icones i {
    color: #fff;
    font-size: 32px;
    margin: 10px 10px;
}

.illustration .contatos .icones a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.form-container {
    flex: 1;
    padding: 40px;
    background-color: var(--cor_principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h2 {
    font-size: 24px;
    color: var(--verde);
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    color: var(--cor_fonte);
    font-size: 16px;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    color: #292828;
    font-family: "Nunito", sans-serif;
    outline: none;
    border: 2px solid var(--verde);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: var(--transicao-padrao);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--verde-escuro);
    border-radius: 14px;
}

.contact-form textarea {
    min-height: 150px;
    resize: none;
}

.submit-btn {
    padding: 12px;
    background-color: var(--verde);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transicao-padrao);
}

.submit-btn:hover {
    background-color: var(--verde-escuro);
}

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    /* Menu */
    .topo-site {
        padding: 10px 20px;
    }
    .topo-site img {
        width: 150px;
    }
    .container .menu-toggle {
        display: block;
        color: #E0E0E0;
        font-size: 2.3rem;
        background: none;
        border: none;
    }
    .menu-toggle:focus {
        outline: none;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 35px;
        text-align: center;
        background-color: var(--verde);
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding: 15px 0;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }
    .navbar ul.active {
        display: flex;
        border-bottom: 5px solid #fff;
    }
    .navbar ul li a {
        margin: 10px 0;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.3s ease;
    }
    /* Fim Menu */
    
    /* Ajustes para o formulário */
    .contact-container {
        flex-direction: column-reverse;
        padding: 0px;
    }
    .contact-main{
        margin: 0;
        padding: 0;
        
        
    }
    .contact-section{
        margin: 0;
        padding: 0;
        width: 100%;
        padding: 0;
        
    }

    .form-container {
        padding: 20px;
    }

    .contact-form label {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 16px;
    }

    .submit-btn {
        font-size: 14px;

    }
    .illustration{
        width: 100%;
    }
   
    .illustration img {
        max-width: 70%;
    }

    .illustration h2 {
        font-size: 22px;
        padding-top: 10px;
    }

    .illustration p {
        font-size: 16px;
    }

    .illustration .contatos .icones i {
        font-size: 28px;
    }
    .icones{
        display: flex;
        flex-direction: column;
        padding:0 20px 20px; 
    }
    .icones a{
        font-size: 12px;
    }
    .contatos h3{
        
    }
}
