* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    transform: .2 linear;
}
html{
    font-size: 10px; /* O tamanho base em px foi mantido */
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root {
    --cor_principal:#F3FCE7;
    --cor_fonte:#292828;
    --verde:#29490A;
}
.topo-site {
    display: flex;
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: var(--cor_principal);
    z-index: 1000;
    box-shadow: 0 10px #29490A;
}
nav a {
    color: var(--cor_fonte);
    font-size: 19px;
    font-weight: 500;
    margin: 0 30px;
}
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#whatsapp-button:hover {
    background-color: #20b258;
}
nav a:hover{
    color: var(--verde);
    text-decoration: none;
}
.banners img{
    margin-top: 100px;
}

/* CONHEÇA UM POUCO SOBRE A FIVE SOLUÇÕES */
.sobre-nos {
    margin: 20px; /* Margem ao redor da seção */
    padding: 15px; /* Espaço interno na seção */
    background-color: var(--cor_principal); /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center; /* Centraliza o texto dentro da seção */
}

.sobre-nos h2 {
    font-size: 29px;
    font-weight: bold;
    color: #29490A;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.sobre-nos p {
    font-size: 24px; 
    text-align: justify;
    line-height: 1.7;
    color: #333;
    padding:10px 30px;
    margin: 30px; 
}

.highlight {
    color: #20b258; /* Cor para destacar partes do texto */
}

.sobre-nos .btn {
    display: inline-flex; /* Usar inline-flex para centralizar o ícone e o texto */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    width: 230px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    background-color: #29490A; /* Cor de fundo do botão */
    border: 2px solid #29490A; /* Bordas do botão */
    color: white; /* Cor do texto do botão */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Animações para hover */
    margin-bottom: 20px;
}

.sobre-nos .btn:hover {
    background-color: transparent; /* Cor de fundo ao passar o mouse */
    transform: translateY(-3px); /* Leve movimento para cima ao passar o mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada ao passar o mouse */
    color: #29490A; /* Muda a cor do texto ao passar o mouse */
}


/* Por que escolher a Five Soluções */
.pq-escolher {
    background-image: url(/images/background1.png);
    background-size: cover;
    height: auto;
    padding: 16px;
    text-align: center;
}

.pq-escolher h2 {
    margin: 26px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.pq-escolher .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    gap: 10px;
}

.pq-escolher .box-container .box {
    width: 100%;
    max-width: 330px;
    height: auto;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 9px;
    border-style: double;
    border: 3px solid var(--verde);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 500px; 
}

.pq-escolher .box-container .box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.pq-escolher .box-container .box h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.pq-escolher .box-container .box p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
}

/* Rodapé */
footer{
    background-color: rgb(0, 30, 0);
    text-align: center;
    padding-top: 20px;
}
.rodape .box-conteiner-rodape {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
}
.box-conteiner-rodape .box h3{
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    padding: 10px ;
    font-weight: bold;
}
.box-conteiner-rodape .box p{
    font-size: 17px;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.box ul {
    list-style-type: none;
    padding: 10px;
    margin-left: 100px;
    text-align: left;
}
.box ul li {
    margin: 15px; 
}
.box ul li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.box ul li a:hover {
    color: forestgreen;
}
.box img{
    margin: 10px;
}
.box h3{
    text-transform: capitalize;
    font-size: 19px;
    color: var(--verde);
    font-weight: 540;
    margin-bottom: 17px;
}
.box p{
 text-align: justify;
 font-size: 16px;
}

.direitos {
    padding: 10px;
    font-size: 16px;
    color: white;
}

.direitos p, .direitos h4 {
    margin: 5px 0;
    font-weight: normal;
}

.direitos h4 a {
    color: #1ABC9C;
    text-decoration: none;
    font-weight: bold;
}

.direitos h4 a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1024px) {
    .paragrafo {
        padding: 18px 80px;
    }
}

@media (max-width: 768px) {
    .sobre-nos h2 {
        font-size: 24px;
    }

    .paragrafo {
        padding: 18px 20px;
    }

    .paragrafo p {
        font-size: 20px;
    }

    .sobre-nos .btn {
        width: 100%;
        max-width: 300px;
        height: 50px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .sobre-nos h2 {
        font-size: 20px;
    }

    .paragrafo p {
        font-size: 20px;
    }

    .sobre-nos .btn {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
}
