/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    transform: .2 linear;
    overflow-x: hidden;
}
:root {
    --cor_principal:#F3FCE7;
    --cor_fonte:#292828;
    --verde:#29490A;

    /* Tamanhos de Fonte */
    --fonte-titulo-principal: 28px; 
    --fonte-titulo-secundario: 24px; 
    --fonte-paragrafo: 18px; 
    --fonte-descricao: 14px; 
    --fonte-botao: 16px;
    --fonte-icone-medio: 28px; 
}
html{
    font-size: 10px; /* O tamanho base em px */
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* INICIO DA BARRA DE NAVEGAÇÃO SUPERIOR  */

.topo-site {
    display: flex;
    position: relative;
    height: 86px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    background-color: var(--cor_principal);
    z-index: 1000;
    box-shadow: 0 6px #29490A;
}
nav a {
    color: var(--cor_fonte);
    font-size: var(--fonte-botao);
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 25px;
}

.menu {
    display: flex; /* Visível por padrão em telas grandes */
    gap: 25px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: var(--cor_fonte);
    cursor: pointer;
}


#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}
#whatsapp-button:hover {
    background-color: #20b258;
}
nav a:hover{
    color: var(--verde);
    text-decoration: none;
}
ion-icon {
    font-size: var(--fonte-icone-medio)
  
}
/* FIM DA BARRA DE NAVEGAÇÃO SUPERIOR  */

.carousel-item img{
    height: 80vh;
}
    
/* INÍCIO "SOBRE NÓS" */

.sobre-nos {
    display: flex;
    flex-direction: column;
    padding: 40px 10px; 
    background-color: var(--cor_principal); 
    border-radius: 5px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center; 
    align-items: center;
}
.sobre-nos h2 {
    font-size: var(--fonte-titulo-principal);
    color: #29490A;
    border-left: 19px solid var(--verde);
    text-align: center; 
    margin-bottom: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}
.sobre-nos .paragrafo {
    font-size: var(--fonte-paragrafo); 
    text-align: justify;
    line-height: 1.7;
    color: #333;
    padding:10px 50px;
    margin:10px 50px; 
}
.highlight {
    color: #20b258;
}

.rs-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.r-item {
    margin: 20px;
    width: 200px; /* Ajuste conforme necessário */
}

.r-icon {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 10px;
}

.r-item h3 {
    font-size: var(--fonte-titulo-secundario);
    color: #29490A;
    margin: 20px;
}

.r-item p {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: #707070;
}

.sobre-nos .btn ion-icon{
    font-size: 20px;
    margin-right: 10px;
}
.sobre-nos .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 230px; 
    height: 50px; 
    background-color: #29490A; 
    border: 2px solid #29490A; 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    text-decoration: none; 
    border-radius: 2px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    margin-bottom: 20px;
}
.sobre-nos .btn:hover {
    background-color: transparent; 
    transform: translateY(-3px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    color: #29490A; 
}

/* FIM "SOBRE NÓS"  */
/* INÍCIO "POR QUE ESCOLHER A FIVE" */

.pq-escolher {
    background-image: url(../images/background1.png);
    background-size: cover;
    height: auto;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pq-escolher h2 {
    margin: 30px;
    font-size: var(--fonte-titulo-principal);
    border-left: 16px solid var(--cor_principal);
    color: var(--cor_principal);
    padding-left: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.pq-escolher .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    gap: 25px;
}
.pq-escolher .box-container .box1 {
    width: 100%;
    max-width: 330px;
    max-height: auto;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-style: double;
    border: 3px solid var(--verde);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
    transition: background-color 0.3s, transform 0.4s;
}
.pq-escolher .box-container .box1:hover{
    transform: translateY(-5px);
}
.pq-escolher .box-container .box1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.pq-escolher .box-container .box1 h3 {
    font-size: var(--fonte-titulo-secundario);
    margin: 0 15px;
    color: var(--verde);
    padding: 10px 0;
    border-bottom:2px solid #3333 ;
}
.pq-escolher .box-container .box1 p {
    font-size: var(--fonte-paragrafo);
    line-height: 1.5;
    padding: 15px 19px;
    text-align: justify;
}

/* FIM "POR QUE ESCOLHER A FIVE" */
/* INÍCIO RODAPÉ */

footer {
    background-color: rgb(0, 30, 0);
    text-align: center;
    padding-top: 20px;
}

/* Seção do rodapé */
.rodape .box-conteiner-rodape {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
}

/* Estilo para cada box no rodapé */
.box-conteiner-rodape .box {
    color: white; 
}

/* Estilos específicos para a lista */
.box ul {
    list-style-type: none;
    padding: 10px;
    margin-left: 100px; 
    text-align: left;
}

.box ul li {
    margin: 15px; 
}

.box ul li a {
    color: white; /* Cor dos links */
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; 
}

.box ul li a:hover {
    color: forestgreen; 
}

/* Estilo para o título e parágrafos no box de detalhes de contato */
.box-conteiner-rodape .box h3 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px;
}
.box p {
    font-size: 16px; 
    margin: 10px 0; 
}
.box p a {
    /* Estilo dos links */
    color: var(--cor_principal);
    text-decoration: none; 
    transition: color 0.3s;
}
.box p a:hover {
    color: forestgreen;
}
.box i {
    margin-right: 8px;
}

/* Estilo para imagens */
.box img {
    margin: 10px; 
}

/* Seção de direitos autorais */
.direitos {
    padding: 10px;
    font-size: 14px;
    color: white; 
    background-color: var(--verde);
}

.direitos p,
.direitos h4 {
    margin: 5px 0; 
    font-weight: normal; 
}

.direitos h4 a {
    color: #1ABC9C; 
    text-decoration: none;
    
}

.direitos h4 a:hover {
    text-decoration: underline; 
}

/* FIM RODAPÉ */

/* Responsividade */
/* Para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--cor_principal);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 15px 0;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }

    .menu.active {
        display: flex;
        border-bottom: 5px solid var(--verde);
    }

    .menu a {
        margin: 10px 0;
        text-align: center;
        font-size: 12px;
        color: #292828;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.3s ease;
    }

    .menu a:hover {
        color: var(--verde);
    }

    .menu-toggle {
        display: block;
        font-size: 2.3rem;
        background: none;
        border: none;
        color: #292828;
    }

    .topo-site {
        padding: 10px 20px;
    }
    .topo-site img{
        width: 150px;
    }

    .carousel-item img {
        height: 30vh;
        object-fit: cover;
    }

    /*  Conheça um pouco sobre Nós */
    .sobre-nos h2 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }

    .sobre-nos .paragrafo {
        font-size: 16px;
        padding: 0 1px;
        text-align: justify;
    }

    .sobre-nos .rs-icons .r-item h3 {
        font-size: 18px;
        margin: 5px 0;
    }

    .sobre-nos .rs-icons .r-item p {
        font-size: 14px;
    }

    .sobre-nos .btn {
        width: 100%;
        max-width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
    }

    /* "Por Que Escolher A Five" */
    .pq-escolher h2 {
        font-size: 24px;
        margin-bottom: 30px;
        text-align: center;
    }

    .pq-escolher .box-container .box1 {
        width: 100%;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .pq-escolher .box-container .box1 p {
        font-size: 16px;
    }
    .rodape .box ul{
        margin: 0;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

/* Para telas com largura máxima de 480px */
@media (max-width: 480px) {
    .sobre-nos h2 {
        font-size: 18px;
        text-align: center;
        border: none;
        margin: 20px auto;
        font-weight: bold;

    }

    .paragrafo p {
        font-size: 12px;
        text-align: center;
        margin: auto;
    }

    .sobre-nos .rs-icons .r-item{
        margin: 8px 6px;
        width: 150px;
    }
    .sobre-nos .rs-icons .r-item p{
        margin: 0;
    }
    .sobre-nos .btn {
        width: 100%;
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
    }

    /* Porque escolher  */
    .pq-escolher h2{
        font-size: 18px;
        font-weight: bold;
    }
    .pq-escolher .box-container .box1 {
        width: 46%;
        margin:0;
        padding: 8px;
    }
    .pq-escolher .box-container .box1 img{
        margin: 0;
    }
    .pq-escolher .box-container .box1 h3{
        font-size: 16px;
        margin: 0;
    }
    .pq-escolher .box-container .box1 p {
        font-size: 12px;
        padding: 4px 0;
        text-align: center;
    }

    .rodape .box ul{
        margin: 0;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
