/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_principal: #F3FCE7;
    --cor_fonte: #292828;
    --verde: #29490A;
    --verde-escuro:rgb(0, 30, 0);
}
html{
    background-color: var(--cor_principal);
    font-family: "Roboto", sans-serif;
    color:#333;
    font-size: 10px; /* Base em 10px*/
}
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px 20px; 
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#whatsapp-button:hover {
    background-color: #20b258;
}

body {
    /* background-image:url(../images/background4.png); */
    background-color: var(--cor_principal);
    background-size: cover;
    line-height: 1.6;
}
header {
    background-color: var(--verde);
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-bottom:10px solid var(--verde-escuro); */
}
header h1 {
    font-size: 40px;
}
header p {
    font-size: 19px;
    color: var(--cor_principal);
}

section {
    max-width: 1200px;
    margin: 40px auto; 
    padding: 0 20px;
}

.missao h2,
.time-section h2,
.valores h2 {
    font-size: 40px;
    color: #5b9279;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 100px; 
    height: 4px;
    background-color: #5b9279;
    margin: 10px auto;
}

.missao {
    background-color: #fff;
    padding: 50px; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.missao p {
    font-size: 19.2px;
    color: #555;
    line-height: 1.8;
}

.time-section {
    background-color: #f9fbfd;
    padding: 60px 0;
}

.time {
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    flex-wrap: wrap;
}

.time-membro {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px; 
    transition: transform 0.3s ease;
}

.time-membro:hover {
    transform: translateY(-10px);
}

.time-membro img {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #5b9279;
}

.time-membro h3 {
    font-size: 24px;
    margin-bottom: 10px; 
    color: #333;
}

.time-membro p {
    font-size: 16px;
    color: #666;
}

.valores {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.valores ul {
    list-style-type: none;
}

.valores li {
    font-size: 19.2px;
    color: #555;
    margin-bottom: 10px; 
}

/* INÍCIO RODAPÉ */

footer {
    background-color: rgb(0, 30, 0);
    text-align: center;
    padding-top: 20px;
}
.rodape .box-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    align-items: center;
}
.box-conteiner .box h3 {
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    padding: 10px;
    font-weight: bold;
}
.box-conteiner .box p {
    font-size: 17px;
    color: white;
    padding: 5px; 
    font-weight: bold;
}
.box ul {
    list-style-type: none;
    padding: 10px;
    margin-left: 100px; 
    text-align: left;
}
.box ul li {
    margin: 15px; 
}
.box ul li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.box ul li a:hover {
    color: rgb(34, 139, 34);
}
.box img {
    margin: 10px; 
}
.box h3 {
    text-transform: capitalize;
    font-size: 19px; 
    color: var(--verde);
    font-weight: 540;
    margin-bottom: 17px;
}
.box p {
    text-align: justify;
    font-size: 16px;
}
.direitos {
    padding: 10px;
    font-size: 16px; 
    color: white;
}
.direitos p, 
.direitos h4 {
    margin: 5px 0; 
    font-weight: normal;
}
.direitos h4 a {
    color: #1ABC9C;
    text-decoration: none;
    font-weight: bold;
}
.direitos h4 a:hover {
    text-decoration: underline;
}

/* FIM RODAPÉ */