/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_principal: #F3FCE7;
    --cor_fonte: #292828;
    --verde: #29490A;
    --verde-escuro:rgb(0, 30, 0);
    --sombra-leve: 0 4px 20px rgba(0, 0, 0, 0.2);
    --transicao-padrao: all 0.3s ease-in-out;
    
    /* Tamanhos de Fonte */
    --fonte-titulo-principal: 32px; 
    --fonte-titulo-secundario: 24px; 
    --fonte-paragrafo: 18px; 
    --fonte-descricao: 14px; 
    --fonte-botao: 16px;
    --fonte-icone-medio: 28px; 
}

html{
    font-family: "Roboto", sans-serif;
    color:#333;
    font-size: 10px; /* Base em 10px*/
    
    
}
body{
    animation: fade-in 1s forwards;
    background-size: cover;
    line-height: 1.6;
    
    background-image: url();
    overflow-x: hidden; /* Remove rolagem horizontal */

}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
#whatsapp-button {
    position: fixed;

    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px 20px; 
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#whatsapp-button:hover {
    background-color: #20b258;
}
ion-icon{
    font-size: 40px;
}

/* CABEÇALHO */
.main-header {
    background-color: var(--verde);
    padding: 15px 0;
    box-shadow: var(--sombra-leve);
    position: static;
    top: 0;
    z-index: 100;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
.nav-list li a {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: var(--transicao-padrao);
}
.nav-list li a:hover,
.nav-list li a.active {
    color: #1ABC9C;
}
.logo-img {
    max-width: 120px;
    transition: transform 0.3s ease;
}
.logo-img:hover {
    transform: scale(1.05);
}

/* Botão do Menu para Dispositivos Móveis */
.container .menu-toggle {
    display: none;
    font-size: 2.4rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* INÍCIO "NOSSA MISSÃO" */

.missao-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--cor_principal);
    padding:40px;
    flex-wrap: wrap; /* Permite que os elementos se ajustem ao espaço */
}

.missao-container {
    flex: 1;
    padding: 0px 40px;
}

.missao-titulo {
    font-size: 48px;
    text-shadow: 3px 2px 0 var(--verde);
    margin: 0;
    color: #29490A;
    text-align: left; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.divisor {
    width: 100px;
    height: 10px;
    background-color: forestgreen;
    border: none;
    margin: 20px 0 30px;
    box-shadow: 4px 3px 0 var(--verde);
}

.missao-texto {
    font-size: var(--fonte-paragrafo);
    line-height: 1.5;
    letter-spacing: 2px;
    color: var(--cor_fonte);
    text-align: justify;
    margin: 20px 0;
}
.container-btn{
    text-align: center;
    margin-top: 10px;
}
.btn{
    padding: 15px 20px;
    color: var(--cor_principal);
    background-color: var(--verde);
    border: 2px solid var(--verde);
    border-radius: 2px;
    font-size: var(--fonte-botao);
}
.btn:hover{
    background-color: transparent;
    color: var(--verde);
    cursor: pointer;
}
.missao-image {
    max-width: 550px;
    flex: 1;
}

.missao-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* FIM "NOSSA MISSÃO" */

/* INÍCIO "CONHEÇA NOSSA EQUIPE" */

.time-section {
    background-color: var(--cor_principal);
    margin-top: 0px;
    padding: 110px 20px;
    text-align: center;
    justify-items: left;

}

.time-section h2 {
    width: 400px;
    margin: 0px 150px 30px;
    font-size: var(--fonte-titulo-principal);
    color: var(--verde);
    text-transform: uppercase;
    border-left: 12px solid forestgreen;
    font-size: 38px;
    padding: 0 10px;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.time-section .pr-equipe{
    font-size: 18px;
    color:#333;
    padding: 10px 150px;
    text-align: justify;
    letter-spacing: 2px;
}

/* Container dos membros com espaçamento entre os itens */
.membro-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr)); /* Define as colunas da grid */
    gap: 20px; /* Espaçamento entre os itens */
    margin: 30px;
}

/* Cada membro com layout responsivo e imagem ao lado */
.membro {
    display: flex;
    flex-direction: row; /* Imagem ao lado por padrão */
    align-items: center;
    background-color: #fff;
    border: 2px solid var(--verde);
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Garante que o conteúdo extra fique oculto */
}

/* Estilos do conteúdo de texto */
.membro-content {
    flex: 1; /* Ocupa o restante do espaço */
    padding: 20px;
}

.text-content h3 {
    font-size: var(--fonte-titulo-secundario);
    color: var(--verde);
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1.1px;
}

.text-content p {
    font-size: var(--fonte-descricao);
    color: #333;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 2px;
}

.text-content ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
    gap: 8px;
}

.text-content ul li a {
    font-size: var(--fonte-icone-medio);
    color: var(--verde);
    transition: color 0.3s ease;
    cursor: pointer;
}

.text-content ul li a:hover {
    color: forestgreen;
}

/* Estilos da imagem */
.membro-image {
    width: 35%; /* Proporção da imagem ao lado */
    height: 100%; /* Ajusta a altura para preencher o espaço */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.membro-image:hover {
    transform: scale(1.03); /* Efeito de zoom */
}

/* FIM "CONHEÇA NOSSA EQUIPE" */



/* INÍCIO "NOSSOS VALORES" */
.valores {
    position: relative;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    max-width: 1320px;
    justify-items: center;
}

.valores h2 {
    width: 310px;
    font-size: var(--fonte-titulo-principal);
    color: var(--cor_principal);
    text-shadow: 3px 2px 0 var(--verde);
    text-transform: uppercase;
    border-left: 12px solid var(--verde);
    margin: 40px 0;
}


.valores-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta o número de colunas conforme o tamanho da tela */
    gap: 40px;
}

.valor-item {
    background: rgba(36, 58, 39, 0.452); /* Fundo escuro transparente */
    min-width: 240px;
    min-height: 300px;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background 0.3s;
    color: #fff;
    
}

.valor-item:hover {
    transform: scale(1.05); 
    background: rgba(0, 0, 0, 0.6); 
}

.valor-item strong {
    display: block; /* Força uma nova linha para o texto do valor */
    color: var(--cor_principal);
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.valor-item p{
    color: var(--cor_principal);
    font-size: var(--fonte-paragrafo);
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}
/* FIM "NOSSOS VALORES" */
/* INÍCIO RODAPÉ */

footer {
    background-color: rgb(0, 30, 0);
    text-align: center;
    padding-top: 20px;
}
/* Seção do rodapé */
.rodape{
    margin-top: 0;
    margin-bottom: 0;
}
.rodape .box-conteiner-rodape {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
}
/* Estilo para cada box no rodapé */
.box-conteiner-rodape .box {
    color: white; 
}
/* Estilos específicos para a lista */
.box ul {
    list-style-type: none;
    padding: 10px;
    margin-left: 100px; 
    text-align: left;
}
.box ul li {
    margin: 15px; 
}
.box ul li a {
    color: white; /* Cor dos links */
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; 
}
.box ul li a:hover {
    color: forestgreen; 
}
/* Estilo para o título e parágrafos no box de detalhes de contato */
.box-conteiner-rodape .box h3 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px;
}
.box p {
    font-size: 16px; 
    margin: 10px 0; 
}
.box p a {
    /* Estilo dos links */
    color: var(--cor_principal);
    text-decoration: none; 
    transition: color 0.3s;
}
.box p a:hover {
    color: forestgreen;
}
.box i {
    margin-right: 8px;
}
/* Estilo para imagens */
.box img {
    margin: 10px; 
}
/* Seção de direitos autorais */
.direitos {
    padding: 10px;
    font-size: 14px;
    color: white; 
    background-color: var(--verde);
}
.direitos p,
.direitos h4 {
    margin: 5px 0; 
    font-weight: normal; 
}
.direitos h4 a {
    color: #1ABC9C; 
    text-decoration: none;
    
}
.direitos h4 a:hover {
    text-decoration: underline; 
}

/* FIM RODAPÉ */

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
    .container .menu-toggle{
        display: block;
        color: #E0E0E0;
        font-size: 2.3rem;
        background: none;
        border: none;
    }
    .menu-toggle:focus{
        outline: none;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 35px;
        text-align: center;
        background-color: var(--verde);
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding: 15px 0;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }
    .navbar ul.active {
        display: flex;
        border-bottom: 5px solid #fff;
    }
    .navbar ul li a{
        margin: 10px 0;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.3s ease;
        
    }
    .missao-section {
        flex-direction: column; /* Coloca a imagem abaixo do texto em telas menores */
        align-items: flex-start; /* Alinha os itens ao topo */
    }

    .missao-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .missao-image {
        max-width: 100%;

    }
 
}

@media (max-width: 480px) {
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
    .missao-titulo {
        font-size: 38px; /* Reduz o tamanho da fonte em telas menores */
        line-height: 1.3;
    }

    .missao-texto {
        font-size: 16px; /* Ajuste do tamanho do texto */
        text-align: left;
        line-height: 1.5;

    }
    .missao-image{
        display: none;
    }

    .divisor {
        width: 90px; /* Reduz o tamanho do divisor */
    }

    .time-section h2{
        font-size: 28px;
        width: auto;
        text-align: left;
        padding:0 10px;
        margin: 20px;
        line-height: 1.3;
    }
    .time-section .pr-equipe{
        padding: 30px 0px;
        text-align: left;
    }
    .membro-container{
        margin: 0;
        width: 100%;
        grid-template-columns: 1fr; /* Força apenas uma coluna */
    }
    .membro {
        flex-direction: column-reverse; /* Empilha imagem e texto */
        
    }

    .membro-image {
        width: 100%; /* Imagem ocupa toda a largura */
        height: 300px; /* Altura ajustada para visualização */
    }

    .membro-content {
        padding: 5px 15px; 
        text-align: center;
    }

    .text-content p {
        text-align: center;
        font-size: 16px;
        letter-spacing: 2px;
        
    }
    .valores{
        margin-top: 0px;
        
    }
    .valores h2{
        font-size: 28px;
        width: 280px;
        margin-top: 60px;
        line-height: 1.3;
        
    }
    .valor-item p{
        text-align: center;
        letter-spacing: 2px;
    }
    .valor-item strong{
        letter-spacing: 2px;
    }
    .box-conteiner-rodape .box ul{
        text-align: center;
        margin: 0;
        
    }
}
    
