* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
    transform: .2 linear;
}
:root {
    --cor_principal:#F3FCE7;
    --cor_fonte:#292828;
    --verde:#29490A;
}
html{
    background-color: var(--cor_principal);
    font-family: "Roboto", sans-serif;
    color:#333;
    font-size: 62.5%;
}
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#whatsapp-button:hover {
    background-color: #20b258;
}
.topo{
    background-color: var(--verde);
    margin: 0;
    display: flex;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}
.topo h1{
    font-size: 3.5rem;
    text-align: center;
    color: white;
}
.Conteiner-serv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 30px;
   
}
.serv {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 340px;
}

.serv:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.serv img {
    width: 100%;
    height: 35%;
}
.serv h2 {
    font-size: 2.2rem;
    color: #29490A;
    text-align: center;
    padding: 10px 0px;
    background-color: #e0f2f1;
    margin: 0;
}
.serv ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
.serv ul li {
    font-size: 1.9em;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.serv ul li:last-child {
    border-bottom: none;
}
.serv ul li:hover {
    background-color: #e0f7fa;
}

/* RODAPÉ */
footer{
    background-color: rgb(0, 30, 0);
    text-align: center;
    padding-top: 2rem;
}
.rodape .box-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    align-items: center;
}
.box-conteiner .box h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
    padding: 1rem ;
    font-weight: bold;
}
.box-conteiner .box p{
    font-size: 1.7rem;
    color: white;
    padding: .5rem;
    font-weight: bold;
}

.box ul {
    list-style-type: none;
    padding: 1rem;
    margin-left: 100px;
    text-align: left;
}
.box ul li {
    margin: 15px; 
}
.box ul li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.box ul li a:hover {
    color: rgb(34, 139, 34); /* Cor do link ao passar o mouse */
}
.box img{
    margin: 1rem;
}
.box h3{
    text-transform: capitalize;
    font-size: 19px;
    color: var(--verde);
    font-weight: 540;
    margin-bottom: 1.7rem;
}
.box p{
 text-align: justify;
 font-size: 16px;
}


.direitos {
    padding: 10px;
    font-size: 16px;
    color: white;
}

.direitos p, .direitos h4 {
    margin: 5px 0;
    font-weight: normal;
}

.direitos h4 a {
    color: #1ABC9C;
    text-decoration: none;
    font-weight: bold;
}

.direitos h4 a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    .Conteiner-serv {
        flex-direction: column;
        align-items: center;
    }
}